*{
	font-family: "Futura PT Light";
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}
h1{
	font-size:60px;
	letter-spacing:6px;
}
h2{
	font-size:38px;
}
p{
	font-size:35px;
}
.contenedor{
	display:block;
	width:100%;
}
.txt-white{
	color:white;
}
.txt-red-white{
	color:rgba(254,87,94,1);
}
.txt-center{
	text-align:center;
}
.txt-h2{
	margin:50px 0px;
}
.txt-p{
	margin-bottom:15px;
}
.contenedor-header{
	padding:200px 0px;
}
.contenedor-contexto{
	padding:120px 100px;
}
.fondo-contenedor-header{
	background-image: linear-gradient(to left,rgba(113,8,13,.5), rgba(113,8,13,.5)),url(../img/fondo-header.jpg);
	background-position: center top;
    background-size: 100% auto;
	/* background-repeat: no-repeat; */
	/* background-position:top center; */
	/* background-size:cover; */
}
.fondo-contenedor-contexto{
	background-image:url(../img/fondo-contexto.png);
	background-position: center top;
	background-repeat: no-repeat;
    background-size: 100% auto;
}